button, button[mat-button] {
  padding: 23px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #0066AE;
  width: 80%;
  height: 53%;
  font-size: 25px;
  margin: 5px;
}

button:hover {
  background-color: #00508f;
}

div{
  height: 100%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: right;
}
