button {
  padding: 23px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #0066AE;
  width: 80%;
  font-size: 25px;
}

button:hover {
  background-color: #034C8C;
  transform: scale(1.05);
}

div{
  height: 100%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: right;
}
