<div class="bg">
  <div class="main">
    <div class="logo"></div>
    <form (submit)="solve()">
      <label for="first">
        E-Mail:
      </label>
      <input type="text"
             id="first"
             name="first"
             placeholder="Indtast din E-mail" required
             [(ngModel)]="username">

      <label for="password">
        Password:
      </label>
      <input type="password"
             id="password"
             name="password"
             placeholder="Indtast dit password" required
             [(ngModel)]="password">

      <div class="wrap">
        <button type="submit">Login</button>
      </div>
    </form>
    <p>Er du kunde?
      <a href=""
         style="text-decoration: underline;">
        Gå til kunde login
      </a>
    </p>
  </div>
</div>
