<div class="main">
  <h3>Detaljer:</h3>
  <div class="GridDiv">
    <div id="Grid1">
      <label>Vælg udstyrstype:</label>
      <select id="Udstyrstype" [(ngModel)]="caseData.type">
        <option value="PC">PC</option>
        <option value="Mobil">Mobil</option>
        <option value="Ipad/tablet">Ipad/Tablet</option>
        <option value="Andet">Andet</option>
      </select>
    </div>

    <div id="Grid2">
      <label>Vælg tekniker:</label>
      <select id="Tekniker" [(ngModel)]="caseData.technicianFK">
        <!-- Loop through and display all technicians -->
        <option *ngFor="let tech of technicians" [value]="tech.id">{{ tech.name }}</option>
      </select>
    </div>

    <div id="Grid3">
      <label>Vælg prioritet:</label>
      <select id="Prioritet" [(ngModel)]="caseData.priority">
        <option value="3">Lav</option>
        <option value="2">Mellem</option>
        <option value="1">Høj</option>
      </select>
    </div>

    <div id="Grid4">
      <label>Vælg forventet afleveringsdato</label>
      <input type="date" [(ngModel)]="caseData.expectedDoneDate">
    </div>
  </div>

  <label>Beskrivelse af opgaven:</label>
  <textarea class="description" [(ngModel)]="caseData.description"></textarea>
</div>
