<div class="bg">
  <div class="main">
    <div class="logo"></div>
    <form (submit)="solve()">
      <label for="username">
        Telefonnummer:
      </label>
      <input type="text"
             id="username"
             name="username"
             placeholder="Indtast dit telefonnummer" required
              [(ngModel)]="username">

      <label for="password">
        CPR/CVR:
      </label>
      <input type="password"
             id="password"
             name="password"
             placeholder="Indtast dit CPR/CVR" required
             [(ngModel)]="password">


      <div class="wrap">
        <button type="submit">Login</button>
      </div>
    </form>
    <p>Er du tekniker?
      <a routerLink="/technician-login" style="text-decoration: underline;">
        Gå til tekniker login
      </a>
    </p>
  </div>
</div>
