<div class="main">
  <h3>Detaljer:</h3>
  <div class="GridDiv">
    <div id="Grid1">
      <label>Vælg udstyrstype:</label>
      <select id="Udstyrstype" name="udstyrstype" [(ngModel)]="case.type">
        <option value="PC">PC</option>
        <option value="Mobil">Mobil</option>
        <option value="Ipad/tablet">Ipad/Tablet</option>
        <option value="Andet">Andet</option>
      </select>
    </div>

    <div id="Grid2">
      <label for="Tekniker">Vælg tekniker:</label>
      <select id="Tekniker" [(ngModel)]="case.technicianFK">
        <option *ngFor="let technician of technicians" [value]="technician.id">
          {{ technician.name }}
        </option>
      </select>
    </div>

    <div id="Grid3">
      <label>Vælg prioritet:</label>
      <select id="Prioritet" name="Prioritet" [(ngModel)]="case.priority">
        <option *ngFor="let priority of [1, 2, 3]" [value]="priority">
          {{ priorityNamerService.getPriorityName(priority) }}
        </option>
      </select>
    </div>

    <div id="Grid5">
      <label>Ændre status:</label>
      <select id="Status" name="Status" [(ngModel)]="case.status">
        <option value="1">Oprettet</option>
        <option value="2">Under reperation</option>
        <option value="3">Afventer reservedele</option>
        <option value="4">Klar til afhentning</option>
      </select>
    </div>


    <div id="Grid4">
      <label>Vælg forventet afleveringsdato</label>
      <input type="date" [(ngModel)]="case.expectedDoneDate">
    </div>
  </div>

  <label>Beskrivelse af opgaven:</label>
  <textarea class="description" [(ngModel)]="case.description"></textarea>

  <label>Noter:</label>
  <textarea class="notes" [(ngModel)]="case.notes"></textarea>
</div>
