<div class="main">
  <h3>Detaljer:</h3>
  <div class="GridDiv">
    <div id="Grid1">
      <label>Vælg udstyrstype:</label>
      <select id="Udstyrstype" name="udstyrstype">
        <option value="PC">PC</option>
        <option value="Mobil">Mobil</option>
        <option value="Ipad/tablet">Ipad/Tablet</option>
        <option value="Andet">Andet</option>
      </select>
    </div>

    <div id="Grid2">
      <label>Vælg tekniker:</label>
      <select id="Tekniker" name="Tekniker">
        <option value="Jens">Jens Petersen</option>
        <option value="Jasmin">Jasmin Sørensen</option>
        <option value="Mikkel">Mikkel Jensen</option>
      </select>
    </div>

    <div id="Grid3">
      <label>Vælg prioritet:</label>
      <select id="Prioritet" name="Prioritet">
        <option value="Lav">Lav</option>
        <option value="Mellem">Mellem</option>
        <option value="Høj">Høj</option>
      </select>
    </div>

    <div id="Grid4">
      <label>Vælg forventet afleveringsdato</label>
      <input type="date">
    </div>
  </div>

  <label>Beskrivelse af opgaven:</label>
  <textarea class="description"></textarea>

  <label>Noter:</label>
  <textarea class="notes"></textarea>
</div>
