<div class="bg">
  <app-header></app-header>
  <div class="main">
    <h1 id="grid1">Opret ny sag</h1>

    <!-- Customer Information -->
    <app-customer-info
      id="grid2"
      #customerInfo
      [customer]="customer"
    ></app-customer-info>

    <!-- Case Details -->
    <app-details-new
      id="grid3"
      #detailsNew
      [caseData]="caseData"
    ></app-details-new>

    <div id="grid4">
      <button id="twogrid1" (click)="onSubmit()">Opret sag</button>
      <button id="twogrid2" (click)="onCancel()">Annuller</button>
    </div>
  </div>
</div>
