<div>
  <h3>Kundeoplysninger</h3>
  <p>Navn: {{selectedCustomer?.name}}</p>
  <p>Email: {{selectedCustomer?.email}}</p>
  <p>Telefon: {{selectedCustomer?.phonenumber}}</p>
  <p>CPR/CVR: {{selectedCustomer?.cprcvr}}</p>
  <br>
  <h3>Sagsoplysninger</h3>
  <p>Udstyrstype: {{selectedCase?.type}}</p>
  <p>Tekniker: {{selectedTechnician?.name}}</p>
  <p>Prioritet: {{selectedCase?.priority}}</p>
  <p>Oprettelsesdato: {{selectedCase?.createdDate}}</p>
  <p>Afleveringsdato: {{selectedCase?.expectedDoneDate}}</p>
  <p>Problembeskrivelse: {{selectedCase?.description}}</p>
</div>
